/*
 * @author: sandeep.mogla@gmail.com
 */

* table {
    font-size: 11px;
}

#header {
    width: 960px;
    height: 176px;
    margin: 0 auto;
    padding-bottom: 13px;
    color: #FFF;
    background: #065185 url("/images/vessels-and-pleasure-boats.jpg") top left no-repeat;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.drag-drop-border {
    border: dotted;
    border-width: thin;
    height: 150px;
    margin: 20px 5px 13px 14px;
    width: 95%;
    padding: 10px;
}

.modal-dialog {
    margin: 10px auto;
}

.modal-body {
    padding-top: 5px;
    padding-bottom: 0px;
}

.progress {
    margin-bottom: 0px;
    margin-top: 4px;
}

.sr-only {
    position: relative;
}
